{
  "**/*.js": [
    "biome check --write --no-errors-on-unmatched"
  ],
  "**/!(package-lock).{json,jsonc,json5}": [
    "biome format --write --no-errors-on-unmatched"
  ],
  "{.agents/**/,}*.md": [
    "markdownlint-cli2 --fix"
  ]
}
