{
  "**/*.js": [
    "biome check --write",
    "biome format --write"
  ],
  "**/!(package-lock).{json,jsonc,json5}": [
    "biome format --write"
  ],
  "{.agents/**/,}*.md": [
    "markdownlint --fix"
  ]
}
